h1,
h2 {
  font-size: 25px;
}
input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
}
label {
  font-size: 20px;
}
.inputs {
  width: 81%;
}
input:hover {
  border-color: #48beac;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-left: 20px;
}
.PhonebookContainer {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  width: 300px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}
.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 300px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  padding-left: 20px;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 13px;
  width: 67%;
}
.addContactBtn {
  width: 127px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px rgb(211, 214, 211);
  cursor: pointer;
  background-color: rgb(243, 234, 234);
  border-color: #faf7f7;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
  border-radius: 3px;
}
.contactsListBtn {
  width: 79px;
  height: 27px;
  background-color: rgb(243, 234, 234);
  border-color: #faf7f7;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.addContactBtn:hover,
.contactsListBtn:hover {
  background-color: #48beac;
  box-shadow: 1px 1px #8eeee2;
  color: white;
  border: none;
}
.contactsList li {
  background-color: #78af7a;
  color: #fff;
  margin: 5px;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  width: 100%;
}
.contactsList {
  margin-right: 50px;
}
